
* {
	
	box-sizing: border-box;

	padding: 0px;
	
	margin: 0px;
	
	font-family: "Times New Roman";
}
html,body{

	height: 100%;

}

.wrap{	

	height: 100%;

}

.clear::after {
	content: "";
	clear: both;
	display: table;
}


 /*For desktop*/


[class*="c-"] {
    float: left;
}

div.ahla {

			width: 100%;

			background-color: white;

			padding: 12em 3em 12em 3em;

			position: relative;

			border-bottom: 4px solid white;

}

div.ahla ul {

			list-style: none;

			position: absolute;

			left: 50%;

			top: 50%;

			transform: translateX(-50%) translateY(-50%);

}

div.ahla ul li{

	display: inline-block;

	font-family: "Times New Roman" , Arial;

	font-size: 4em;

	color: black;

	opacity: 1;

    font-weight: 300;

    transition: all 2.5s ease;

    margin-right: 40px;
}

div.ahla ul.hidden li {

        opacity: 0;

}

div.ahla ul li:lastchild {

	margin-right: 0;

}


div.ahla ul.hidden li:nth-child(1) { transform: translateX(-150px) translateY(-150px); }
div.ahla ul.hidden li:nth-child(2) { transform: translateX(20px) translateY(80px); }
div.ahla ul.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
div.ahla ul.hidden li:nth-child(4) { transform: translateX(10px) translateY(-120px); }
div.ahla ul.hidden li:nth-child(5) { transform: translateX(-180px) translateY(150px); }
div.ahla ul.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
div.ahla ul.hidden li:nth-child(7) { transform: translateX(30px) translateY(150px); }




header{

	background: black;

	color: gold;

	padding: 16px;

	border-bottom: 20px solid gold;

	box-shadow: 0px 0px 10px 0px black;

	position: relative;
}

.header{

	font-size: 20px;

}

.c-akyii {
	width: 100%;
}

.c-alatt {
	width: 70%;
}

.c-athay {
	width: 30%;

	/*border: 1px solid red;*/
}

/*For Desktop Navigation*/

nav.right {

	float: right;

	position: absolute;

	right: 12px;

	bottom: 12px;

}

nav.right ul{

	list-style: none;

	/*border: 1px solid red;*/

}

nav.right ul li{

	display: inline-block;

	width: 100px;

	height: 30px;

	border: 1.5px solid #ddd;

	margin: 0px 3px 0px 3px;

	border-radius: 20px;

	text-align: center;

	cursor: pointer;
}

nav.right ul li a{

	text-decoration: none;

	font-size: 22px;

	font-family: ;

	color : #ddd;

}


/*Navigation For Phone*/

nav.mid {

	display: none;

	text-align: center;

	margin: 12px 0px;

}
nav.mid ul{

	list-style: none;

	/*border: 1px solid red;*/

}

nav.mid ul li{

	display: inline-block;

	width: 100px;

	height: 30px;

	border: 1.5px solid gold;

	margin: 2px 3px 2px 3px;

	border-radius: 20px;

	text-align: center;

	cursor: pointer;
}

nav.mid ul li a{

	text-decoration: none;

	text-shadow: 0px 1px 2px rgba(0,0,0,0.5);

	font-size: 22px;

	font-family: ;

	color : black;

}

/*Middle COntent*/
#conlay{
	padding-top: 20px;

	text-align: center;

	border-bottom: 15px gold solid;
	
	box-shadow: 0px 0px 15px 0px black;
}
#conlay img{

	max-width: 100%;

	height: auto;

	margin-bottom: 2px;

	padding-bottom: 2px;


	transition: all 2.5s ease;

}

.content-lay{

	opacity: 0;

}

/*pone nae sar*/

.amyint-apyae{

	clear: both;

	height: 80%;

	background-size: cover;

	background-attachment: fixed;

	background-repeat: no-repeat;

}

.pon-one{

	background-image: url("coffee.jpg");


}
.pon-two{

	background-image: url("hamburger.jpg");

}
.akyaung-ayar{
	text-align: center;

	height: 20%;

	background-color: #ddd;
}
/*Footer*/

footer{

	width: 100%;

	color: white;

	text-shadow: 0px 0.5px 2px white;

	font-size: 20px;

	padding: 10px;

	text-align: right;

	background: rgba(0,0,0,1);


}



.fade{
	animation: fadename 1.5s ease-out;
}

.fade2{
	animation: fadename 2.2s linear;
}

@keyframes fadename{
	from{ opacity: 0 }
	to{ opacity: 1 }
}
/* For mobile phones: */

@media only screen and (max-width: 768px) {
    
    [class*="c-"] {
        width: 100%;
    }
    .header{
    	text-align: center;
    	padding: 0px 2% 0px 2%;
    }

    .right{
    	display: none;
    }

    nav.mid{
    	display: block;
    }

    div.ahla{
    	padding: 6em 1.5em 6em 1.5em;
    }

    div.ahla ul li{
    	font-size: 1em;

    	margin-right: 10px;
    }

    .content-lay{

    	opacity: 1;

    }

    .amyint-apyae{

    	height: 62%;

    	background-attachment: scroll;

    	background-size: cover;
    }
    .akyaung-ayar{
		
		height: 38%;

	}
}